# SQL-анализ олимпийских игр в Jupyter Notebook

Загрузим SQL-модуль для Jupyter Notebook и подключимся к локальной базе данных

In [30]:
%load_ext sql
%sql postgresql+psycopg2://postgres:{mypassword}@localhost:5432/NewDB

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Зададим ограничение на количество отображаемых строк результатов запросов

In [3]:
%config SqlMagic.displaylimit = 30

Простейшим запросом проверим, как все работает

In [4]:
%%sql
select * from athlete_events
limit 3

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

3 rows affected.

+----+---------------------+-----+-----+--------+--------+---------+-----+-------------+------+--------+-----------+------------+------------------------------+-------+
| id |         name        | sex | age | height | weight |   team  | noc |    games    | year | season |    city   |   sport    |            event             | medal |
+----+---------------------+-----+-----+--------+--------+---------+-----+-------------+------+--------+-----------+------------+------------------------------+-------+
| 1  |      A Dijiang      |  M  |  24 |  180   |   80   |  China  | CHN | 1992 Summer | 1992 | Summer | Barcelona | Basketball | Basketball Men's Basketball  |   NA  |
| 2  |       A Lamusi      |  M  |  23 |  170   |   60   |  China  | CHN | 2012 Summer | 2012 | Summer |   London  |    Judo    | Judo Men's Extra-Lightweight |   NA  |
| 3  | Gunnar Nielsen Aaby |  M  |  24 |   NA   |   NA   | Denmark | DEN | 1920 Summer | 1920 | Summer | Antwerpen |  Football  |   Football Men's Football    |   NA  |
+----+---------------------+-----+-----+--------+--------+---------+-----+-------------+------+--------+-----------+------------+------------------------------+-------+

## Изучение и анализ данных олимпийских игр с помощью SQL-запросов.

### 1. Сколько Олимпийских игр было проведено?

In [5]:
%%sql
SELECT 
    COUNT(DISTINCT games) AS total_games
FROM
    athlete_events

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

1 rows affected.

+-------------+
| total_games |
+-------------+
|      51     |
+-------------+

### 2. Перечислите все проведенные Олимпийские игры.

In [6]:
%%sql
SELECT 
    DISTINCT games
FROM
    athlete_events
ORDER BY games

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

51 rows affected.

+-------------+
|    games    |
+-------------+
| 1896 Summer |
| 1900 Summer |
| 1904 Summer |
| 1906 Summer |
| 1908 Summer |
| 1912 Summer |
| 1920 Summer |
| 1924 Summer |
| 1924 Winter |
| 1928 Summer |
| 1928 Winter |
| 1932 Summer |
| 1932 Winter |
| 1936 Summer |
| 1936 Winter |
| 1948 Summer |
| 1948 Winter |
| 1952 Summer |
| 1952 Winter |
| 1956 Summer |
| 1956 Winter |
| 1960 Summer |
| 1960 Winter |
| 1964 Summer |
| 1964 Winter |
| 1968 Summer |
| 1968 Winter |
| 1972 Summer |
| 1972 Winter |
| 1976 Summer |
+-------------+

### 3. Укажите общее количество стран, участвовавших в каждой Олимпиаде.

In [7]:
%%sql
SELECT
    games, COUNT(DISTINCT region) as total_countries
FROM 
    athlete_events a
JOIN 
    noc_regions n
ON a.noc = n.noc
GROUP BY games
ORDER BY games

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

51 rows affected.

+-------------+-----------------+
|    games    | total_countries |
+-------------+-----------------+
| 1896 Summer |        12       |
| 1900 Summer |        31       |
| 1904 Summer |        14       |
| 1906 Summer |        20       |
| 1908 Summer |        22       |
| 1912 Summer |        29       |
| 1920 Summer |        29       |
| 1924 Summer |        45       |
| 1924 Winter |        19       |
| 1928 Summer |        46       |
| 1928 Winter |        25       |
| 1932 Summer |        47       |
| 1932 Winter |        17       |
| 1936 Summer |        49       |
| 1936 Winter |        28       |
| 1948 Summer |        58       |
| 1948 Winter |        28       |
| 1952 Summer |        66       |
| 1952 Winter |        30       |
| 1956 Summer |        70       |
| 1956 Winter |        32       |
| 1960 Summer |        82       |
| 1960 Winter |        30       |
| 1964 Summer |        93       |
| 1964 Winter |        36       |
| 1968 Summer |       110       |
| 1968 Winter |        36       |
| 1972 Summer |       119       |
| 1972 Winter |        34       |
| 1976 Summer |        90       |
+-------------+-----------------+

### 4. В каком году было наибольшее и наименьшее количество стран, участвующих в Олимпиаде?

In [8]:
%%sql
SELECT DISTINCT
    FIRST_VALUE(year) OVER(ORDER BY total_countries) as min_countries_year,
    FIRST_VALUE(year) OVER(ORDER BY total_countries DESC) as max_countries_year
FROM
    (SELECT
        year, COUNT(DISTINCT region) as total_countries
    FROM 
        athlete_events a
    JOIN 
        noc_regions n
    ON a.noc = n.noc
    GROUP BY year) inner_query

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

1 rows affected.

+--------------------+--------------------+
| min_countries_year | max_countries_year |
+--------------------+--------------------+
|        1896        |        2016        |
+--------------------+--------------------+

### 5. Какая страна участвовала во всех Олимпийских играх?

In [9]:
%%sql
SELECT region AS country, COUNT(DISTINCT games) AS count_games
FROM
    athlete_events a
    JOIN 
    noc_regions n
    ON a.noc = n.noc
GROUP BY region
HAVING COUNT(DISTINCT games) = (SELECT COUNT(DISTINCT games) FROM athlete_events)

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

4 rows affected.

+-------------+-------------+
|   country   | count_games |
+-------------+-------------+
|    France   |      51     |
|    Italy    |      51     |
| Switzerland |      51     |
|      UK     |      51     |
+-------------+-------------+

### 6. Определите спорт, который был представлен на всех летних Олимпиадах.

In [10]:
%%sql
SELECT sport, COUNT(DISTINCT games) AS count_games
FROM athlete_events
WHERE season = 'Summer'
GROUP BY sport
HAVING COUNT(DISTINCT games) = (SELECT COUNT(DISTINCT games) 
                                FROM athlete_events 
                                WHERE season = 'Summer')

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

5 rows affected.

+------------+-------------+
|   sport    | count_games |
+------------+-------------+
| Athletics  |      29     |
|  Cycling   |      29     |
|  Fencing   |      29     |
| Gymnastics |      29     |
|  Swimming  |      29     |
+------------+-------------+

### 7. Какие виды спорта были представлены только один раз на Олимпиаде?

In [11]:
%%sql
SELECT sport, COUNT(DISTINCT games) AS count_games
FROM athlete_events
GROUP BY sport
HAVING COUNT(DISTINCT games) = 1

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

10 rows affected.

+---------------------+-------------+
|        sport        | count_games |
+---------------------+-------------+
|     Aeronautics     |      1      |
|    Basque Pelota    |      1      |
|       Cricket       |      1      |
|       Croquet       |      1      |
|     Jeu De Paume    |      1      |
| Military Ski Patrol |      1      |
|     Motorboating    |      1      |
|       Racquets      |      1      |
|        Roque        |      1      |
|     Rugby Sevens    |      1      |
+---------------------+-------------+

### 8. Получите общее количество спортивных дисциплин, сыгранных на каждой Олимпиаде.

In [12]:
%%sql
SELECT games, COUNT(DISTINCT event) AS count_event
FROM athlete_events
GROUP BY games

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

51 rows affected.

+-------------+-------------+
|    games    | count_event |
+-------------+-------------+
| 1896 Summer |      43     |
| 1900 Summer |      90     |
| 1904 Summer |      95     |
| 1906 Summer |      74     |
| 1908 Summer |     109     |
| 1912 Summer |     107     |
| 1920 Summer |     158     |
| 1924 Summer |     131     |
| 1924 Winter |      17     |
| 1928 Summer |     122     |
| 1928 Winter |      14     |
| 1932 Summer |     131     |
| 1932 Winter |      14     |
| 1936 Summer |     150     |
| 1936 Winter |      17     |
| 1948 Summer |     153     |
| 1948 Winter |      22     |
| 1952 Summer |     149     |
| 1952 Winter |      22     |
| 1956 Summer |     151     |
| 1956 Winter |      24     |
| 1960 Summer |     150     |
| 1960 Winter |      27     |
| 1964 Summer |     163     |
| 1964 Winter |      34     |
| 1968 Summer |     172     |
| 1968 Winter |      35     |
| 1972 Summer |     193     |
| 1972 Winter |      35     |
| 1976 Summer |     198     |
+-------------+-------------+

### 9. Получите данные о самых старых атлетах, выигравших золотую медаль.

In [13]:
%%sql
SELECT *
FROM athlete_events
WHERE medal = 'Gold' AND age = (SELECT MAX(age) 
                                FROM athlete_events
                                WHERE medal = 'Gold' AND age != 'NA')

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

2 rows affected.

+--------+-------------------+-----+-----+--------+--------+---------------+-----+-------------+------+--------+-----------+----------+--------------------------------------------------+-------+
|   id   |        name       | sex | age | height | weight |      team     | noc |    games    | year | season |    city   |  sport   |                      event                       | medal |
+--------+-------------------+-----+-----+--------+--------+---------------+-----+-------------+------+--------+-----------+----------+--------------------------------------------------+-------+
| 53238  |  Charles Jacobus  |  M  |  64 |   NA   |   NA   | United States | USA | 1904 Summer | 1904 | Summer | St. Louis |  Roque   |               Roque Men's Singles                |  Gold |
| 117046 | Oscar Gomer Swahn |  M  |  64 |   NA   |   NA   |     Sweden    | SWE | 1912 Summer | 1912 | Summer | Stockholm | Shooting | Shooting Men's Running Target, Single Shot, Team |  Gold |
+--------+-------------------+-----+-----+--------+--------+---------------+-----+-------------+------+--------+-----------+----------+--------------------------------------------------+-------+

### 10. Найдите соотношение мужчин и женщин за все время проведения, участвовавших в Олимпийских играх

In [14]:
%%sql
SELECT DISTINCT sex,
ROUND((COUNT(id) OVER(PARTITION BY sex):: DECIMAL)/(COUNT(id) OVER():: DECIMAL),3) as proportion
FROM 
(SELECT DISTINCT games, id, sex
FROM athlete_events) inner_q

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

2 rows affected.

+-----+------------+
| sex | proportion |
+-----+------------+
|  F  |   0.261    |
|  M  |   0.739    |
+-----+------------+

### 11. Получите топ-5 атлетов, выигравших наибольшее количество золотых медалей.

In [15]:
%%sql
WITH count_medals
AS(
    SELECT name, COUNT(medal) as cnt
    FROM athlete_events
    WHERE medal = 'Gold'
    GROUP BY name
    ),
     ranking
AS(
    SELECT name, cnt, 
        DENSE_RANK() OVER(ORDER BY cnt DESC) AS rank
    FROM count_medals
)
SELECT name, cnt, rank
FROM ranking
WHERE rank <=5

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

18 rows affected.

+-------------------------------------------------+-----+------+
|                       name                      | cnt | rank |
+-------------------------------------------------+-----+------+
|             Michael Fred Phelps, II             |  23 |  1   |
|           Raymond Clarence "Ray" Ewry           |  10 |  2   |
|        Larysa Semenivna Latynina (Diriy-)       |  9  |  3   |
|          Frederick Carlton "Carl" Lewis         |  9  |  3   |
|               Paavo Johannes Nurmi              |  9  |  3   |
|                Mark Andrew Spitz                |  9  |  3   |
|                    Sawao Kato                   |  8  |  4   |
|                Usain St. Leo Bolt               |  8  |  4   |
|               Ole Einar Bjrndalen               |  8  |  4   |
|          Matthew Nicholas "Matt" Biondi         |  8  |  4   |
|              Birgit Fischer-Schmidt             |  8  |  4   |
| Jennifer Elisabeth "Jenny" Thompson (-Cumpelik) |  8  |  4   |
|             Aladr Gerevich (-Gerei)             |  7  |  5   |
|           Borys Anfiyanovych Shakhlin           |  7  |  5   |
|           Nikolay Yefimovich Andrianov          |  7  |  5   |
|            Viktor Ivanovych Chukarin            |  7  |  5   |
|         Donald Arthur "Don" Schollander         |  7  |  5   |
|              Vra slavsk (-Odloilov)             |  7  |  5   |
+-------------------------------------------------+-----+------+

### 12. Получите топ-5 атлетов, выигравших наибольшее количество медалей (золото/серебро/бронза).

In [16]:
%%sql
WITH count_medals
AS(
    SELECT name, COUNT(medal) as cnt
    FROM athlete_events
    WHERE medal != 'NA'
    GROUP BY name
    ),
     ranking
AS(
    SELECT name, cnt, 
        DENSE_RANK() OVER(ORDER BY cnt DESC) AS rank
    FROM count_medals
)
SELECT name, cnt, rank
FROM ranking
WHERE rank <=5

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

15 rows affected.

+-------------------------------------------------+-----+------+
|                       name                      | cnt | rank |
+-------------------------------------------------+-----+------+
|             Michael Fred Phelps, II             |  28 |  1   |
|        Larysa Semenivna Latynina (Diriy-)       |  18 |  2   |
|           Nikolay Yefimovich Andrianov          |  15 |  3   |
|           Borys Anfiyanovych Shakhlin           |  13 |  4   |
|               Ole Einar Bjrndalen               |  13 |  4   |
|               Edoardo Mangiarotti               |  13 |  4   |
|                   Takashi Ono                   |  13 |  4   |
|       Dara Grace Torres (-Hoffman, -Minas)      |  12 |  5   |
|              Birgit Fischer-Schmidt             |  12 |  5   |
|               Paavo Johannes Nurmi              |  12 |  5   |
|                    Sawao Kato                   |  12 |  5   |
|          Natalie Anne Coughlin (-Hall)          |  12 |  5   |
| Jennifer Elisabeth "Jenny" Thompson (-Cumpelik) |  12 |  5   |
|                Ryan Steven Lochte               |  12 |  5   |
|             Aleksey Yuryevich Nemov             |  12 |  5   |
+-------------------------------------------------+-----+------+

### 13. Получите топ-5 стран с наибольшим количеством медалей на Олимпийских играх. Успех определяется количеством выигранных медалей.

In [17]:
%%sql
WITH games_regions -- первым шагом подсчитаем кол-во уникальных ивентов для каждого типа медалей, заработанных каждой страной.
-- это позволяет исключить повторный учет медалей, заработанных в командных видах спорта
AS(
    SELECT games, region, medal, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' 
    GROUP BY games, region, medal
    )
    ,
    
 total_medals
AS(
    SELECT region, SUM(cnt) AS total
    FROM games_regions
    GROUP BY region
    ),
rank_countries
AS(
    SELECT  region, total, dense_rank() OVER(ORDER BY total DESC) as rnk
    FROM total_medals 
    )
SELECT region, total, rnk
FROM rank_countries
WHERE rnk <=5

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

5 rows affected.

+---------+-------+-----+
|  region | total | rnk |
+---------+-------+-----+
|   USA   |  2823 |  1  |
|  Russia |  1916 |  2  |
| Germany |  1766 |  3  |
|    UK   |  919  |  4  |
|  France |  879  |  5  |
+---------+-------+-----+

### 14. Перечислите общее количество золотых, серебряных и бронзовых медалей, выигранных каждой страной.

In [18]:
%%sql
WITH games_regions 
AS(
    SELECT games, region, medal, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' 
    GROUP BY games, region, medal
),
total_medals
AS(
    SELECT region, medal, sum(cnt) as total
    FROM games_regions
    GROUP BY region, medal
)
SELECT region,
    MAX(CASE WHEN medal = 'Gold' THEN total END) as gold_med,
    MAX(CASE WHEN medal = 'Silver' THEN total END) as silver_med,
    MAX(CASE WHEN medal = 'Bronze' THEN total END) as bronze_med
FROM total_medals
GROUP BY region
ORDER BY region

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

136 rows affected.

+----------------+----------+------------+------------+
|     region     | gold_med | silver_med | bronze_med |
+----------------+----------+------------+------------+
|  Afghanistan   |   None   |    None    |     2      |
|    Algeria     |    5     |     4      |     8      |
|   Argentina    |    21    |     25     |     28     |
|    Armenia     |    2     |     5      |     9      |
|   Australia    |   156    |    174     |    201     |
|    Austria     |    85    |    118     |    123     |
|   Azerbaijan   |    7     |     12     |     25     |
|    Bahamas     |    6     |     2      |     6      |
|    Bahrain     |    1     |     1      |     1      |
|    Barbados    |   None   |    None    |     1      |
|    Belarus     |    19    |     32     |     48     |
|    Belgium     |    45    |     60     |     66     |
|    Bermuda     |   None   |    None    |     1      |
|    Botswana    |   None   |     1      |    None    |
|     Brazil     |    30    |     36     |     62     |
|    Bulgaria    |    52    |     88     |     83     |
|    Burundi     |    1     |     1      |    None    |
|    Cameroon    |    3     |     1      |     1      |
|     Canada     |   126    |    160     |    189     |
|     Chile      |    2     |     7      |     4      |
|     China      |   240    |    185     |    173     |
|    Colombia    |    5     |     9      |     14     |
|   Costa Rica   |    1     |     1      |     2      |
|    Croatia     |    15    |     16     |     13     |
|      Cuba      |    77    |     67     |     70     |
|    Curacao     |   None   |     1      |    None    |
|     Cyprus     |   None   |     1      |    None    |
| Czech Republic |    73    |     85     |     98     |
|    Denmark     |    49    |     82     |     80     |
|    Djibouti    |   None   |    None    |     1      |
+----------------+----------+------------+------------+

### 15. Перечислите общее количество золотых, серебряных и бронзовых медалей, выигранных каждой страной для каждой Олимпиады.

In [28]:
%%sql
WITH games_regions 
AS(
    SELECT games, region, medal, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' 
    GROUP BY games, region, medal
),
total_medals
AS(
    SELECT region, games, medal, sum(cnt) as total
    FROM games_regions
    GROUP BY region, medal, games
)
SELECT region, games,
    COALESCE(MAX(CASE WHEN medal = 'Gold' THEN total END), 0) as gold_med,
    COALESCE(MAX(CASE WHEN medal = 'Silver' THEN total END), 0) as silver_med,
    COALESCE(MAX(CASE WHEN medal = 'Bronze' THEN total END), 0) as bronze_med
FROM total_medals
GROUP BY games, region
ORDER BY games, region

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

1640 rows affected.

+----------------+-------------+----------+------------+------------+
|     region     |    games    | gold_med | silver_med | bronze_med |
+----------------+-------------+----------+------------+------------+
|   Australia    | 1896 Summer |    2     |     0      |     1      |
|    Austria     | 1896 Summer |    2     |     1      |     2      |
|    Denmark     | 1896 Summer |    1     |     2      |     3      |
|     France     | 1896 Summer |    5     |     4      |     2      |
|    Germany     | 1896 Summer |    7     |     5      |     2      |
|     Greece     | 1896 Summer |    10    |     17     |     17     |
|    Hungary     | 1896 Summer |    2     |     1      |     3      |
|  Switzerland   | 1896 Summer |    1     |     2      |     0      |
|       UK       | 1896 Summer |    3     |     3      |     3      |
|      USA       | 1896 Summer |    11    |     6      |     2      |
|   Australia    | 1900 Summer |    3     |     0      |     3      |
|    Austria     | 1900 Summer |    0     |     3      |     3      |
|    Belgium     | 1900 Summer |    6     |     7      |     5      |
|     Canada     | 1900 Summer |    1     |     0      |     1      |
|    Colombia    | 1900 Summer |    0     |     1      |     0      |
|      Cuba      | 1900 Summer |    1     |     1      |     0      |
| Czech Republic | 1900 Summer |    0     |     1      |     2      |
|    Denmark     | 1900 Summer |    2     |     3      |     2      |
|     France     | 1900 Summer |    28    |     40     |     34     |
|    Germany     | 1900 Summer |    4     |     3      |     1      |
|     Haiti      | 1900 Summer |    1     |     0      |     0      |
|    Hungary     | 1900 Summer |    1     |     2      |     2      |
|     India      | 1900 Summer |    0     |     2      |     0      |
|     Italy      | 1900 Summer |    3     |     2      |     0      |
|   Luxembourg   | 1900 Summer |    1     |     0      |     0      |
|     Mexico     | 1900 Summer |    0     |     0      |     1      |
|  Netherlands   | 1900 Summer |    1     |     2      |     4      |
|  New Zealand   | 1900 Summer |    1     |     0      |     0      |
|     Norway     | 1900 Summer |    0     |     2      |     3      |
|     Spain      | 1900 Summer |    1     |     0      |     0      |
+----------------+-------------+----------+------------+------------+

### 16. Определите страну, которая выиграла наибольшее количество золотых, серебряных и бронзовых медалей на каждой Олимпиаде.

In [20]:
%%sql
WITH games_regions -- первым шагом подсчитаем кол-во уникальных ивентов для каждого типа медалей, заработанных каждой страной.
-- это позволяет исключить повторный учет медалей, заработанных в командных видах спорта
AS(
    SELECT games, region, medal, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' 
    GROUP BY games, region, medal
    ),
games_max -- теперь найдем максимальное кол-во медалей каждого вида для каждых игр
AS(
    SELECT games, medal, max(cnt) as mx
    FROM games_regions
    GROUP BY games, medal
    ),
top_regions -- путем объединения двух таблиц games_regions и games_max определим для каждых игр страны с наибольшим количеством медалей каждого вида
AS(
    SELECT gr.games, gr.region, gr.medal, gr.cnt
    FROM games_regions gr JOIN games_max gm
    ON gr.games = gm.games AND gr.medal = gm.medal AND gr.cnt=gm.mx
)
SELECT -- с использованием условных выражений и агрегирующей функции MAX отобразим уже конечный результат.
-- при желании столбцы gold_medal и gold_count можно объединить в один столбец функцией CONCAT
  games,
  MAX(CASE WHEN medal = 'Gold' THEN region END) AS gold_medal,
  MAX(CASE WHEN medal = 'Gold' THEN cnt END) AS gold_count,
  MAX(CASE WHEN medal = 'Silver' THEN region END) AS silver_medal,
  MAX(CASE WHEN medal = 'Silver' THEN cnt END) AS silver_count,
  MAX(CASE WHEN medal = 'Bronze' THEN region END) AS bronze_medal,
  MAX(CASE WHEN medal = 'Bronze' THEN cnt END) AS bronze_count
FROM top_regions
GROUP BY games
ORDER BY games

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

51 rows affected.

+-------------+------------+------------+--------------+--------------+--------------+--------------+
|    games    | gold_medal | gold_count | silver_medal | silver_count | bronze_medal | bronze_count |
+-------------+------------+------------+--------------+--------------+--------------+--------------+
| 1896 Summer |    USA     |     11     |    Greece    |      17      |    Greece    |      17      |
| 1900 Summer |   France   |     28     |    France    |      40      |    France    |      34      |
| 1904 Summer |    USA     |     76     |     USA      |      79      |     USA      |      75      |
| 1906 Summer |   France   |     15     |    Greece    |      14      |    France    |      16      |
| 1908 Summer |     UK     |     56     |      UK      |      50      |      UK      |      37      |
| 1912 Summer |    USA     |     26     |    Sweden    |      24      |     USA      |      19      |
| 1920 Summer |    USA     |     41     |     USA      |      27      |     USA      |      27      |
| 1924 Summer |    USA     |     45     |     USA      |      27      |     USA      |      27      |
| 1924 Winter |   Norway   |     4      |    Norway    |      7       |    Norway    |      6       |
| 1928 Summer |    USA     |     22     |     USA      |      18      |   Germany    |      19      |
| 1928 Winter |   Norway   |     6      |    Norway    |      4       |    Norway    |      5       |
| 1932 Summer |    USA     |     44     |     USA      |      36      |     USA      |      30      |
| 1932 Winter |    USA     |     6      |     USA      |      4       |    Canada    |      5       |
| 1936 Summer |  Germany   |     38     |   Germany    |      31      |   Germany    |      32      |
| 1936 Winter |   Norway   |     7      |    Norway    |      5       |     USA      |      3       |
| 1948 Summer |    USA     |     38     |     USA      |      27      |     USA      |      19      |
| 1948 Winter |   Sweden   |     4      | Switzerland  |      4       |   Austria    |      4       |
| 1952 Summer |    USA     |     40     |    Russia    |      29      |    Russia    |      19      |
| 1952 Winter |   Norway   |     7      |     USA      |      6       |    Norway    |      6       |
| 1956 Summer |   Russia   |     37     |    Russia    |      29      |    Russia    |      32      |
| 1956 Winter |   Russia   |     6      |    Sweden    |      4       |    Russia    |      6       |
| 1960 Summer |   Russia   |     43     |    Russia    |      29      |    Russia    |      31      |
| 1960 Winter |   Russia   |     7      |    Russia    |      5       |    Russia    |      9       |
| 1964 Summer |    USA     |     36     |    Russia    |      30      |    Russia    |      33      |
| 1964 Winter |   Russia   |     11     |    Russia    |      7       |    Russia    |      6       |
| 1968 Summer |    USA     |     45     |    Russia    |      32      |     USA      |      34      |
| 1968 Winter |   Norway   |     6      |    Norway    |      6       |   Germany    |      5       |
| 1972 Summer |   Russia   |     50     |   Germany    |      34      |   Germany    |      39      |
| 1972 Winter |   Russia   |     8      |    Russia    |      5       |   Germany    |      8       |
| 1976 Summer |  Germany   |     50     |    Russia    |      41      |   Germany    |      42      |
+-------------+------------+------------+--------------+--------------+--------------+--------------+

### 17. Определите страну, которая выиграла наибольшее количество золотых, серебряных, бронзовых и всего медалей на каждой Олимпиаде.

In [21]:
%%sql
WITH games_regions -- первым шагом подсчитаем кол-во уникальных ивентов для каждого типа медалей, заработанных каждой страной.
-- это позволяет исключить повторный учет медалей, заработанных в командных видах спорта
AS(
    SELECT games, region, medal, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' 
    GROUP BY games, region, medal
    ),
games_max -- теперь найдем максимальное кол-во медалей каждого вида для каждых игр
AS(
    SELECT games, medal, max(cnt) as mx
    FROM games_regions
    GROUP BY games, medal
    ),
top_regions -- путем объединения двух таблиц games_regions и games_max определим для каждых игр страны с наибольшим количеством медалей каждого вида
AS(
    SELECT gr.games, gr.region, gr.medal, gr.cnt
    FROM games_regions gr JOIN games_max gm
    ON gr.games = gm.games AND gr.medal = gm.medal AND gr.cnt=gm.mx
    ),
 total_medals -- отдельным шагом подсчитаем общее кол-во медалей каждой страны в каждых Олимп. играх
 AS(  
    select *, SUM(cnt) OVER(PARTITION BY games, region) AS tot_med
    FROM games_regions
    ),
max_total_medals -- добавим к врем. таблице total_medals столбец с максимальным общим значением медалей на страну в разрезе отдельных игр 
AS(
    SELECT *, MAX(tot_med) OVER(PARTITION BY games) AS max_tot_med
    FROM total_medals
    ),
max_total_medals_country -- оставим только те страны, общее число медалей в конкретных Олимп. играх которых является максимальным
AS(
    select DISTINCT games, region, tot_med
    FROM max_total_medals
    WHERE tot_med = max_tot_med
    ),
max_total_medals_gsb -- получим результат, как в задаче 17
AS(
    SELECT 
    games,
    MAX(CASE WHEN medal = 'Gold' THEN region END) AS gold_medal,
    MAX(CASE WHEN medal = 'Gold' THEN cnt END) AS gold_count,
    MAX(CASE WHEN medal = 'Silver' THEN region END) AS silver_medal,
    MAX(CASE WHEN medal = 'Silver' THEN cnt END) AS silver_count,
    MAX(CASE WHEN medal = 'Bronze' THEN region END) AS bronze_medal,
    MAX(CASE WHEN medal = 'Bronze' THEN cnt END) AS bronze_count
    FROM top_regions
    GROUP BY games
    ORDER BY games
    )
SELECT max_total_medals_gsb.*, max_total_medals_country.region AS total_medals, max_total_medals_country.tot_med AS total_count
FROM max_total_medals_gsb 
JOIN max_total_medals_country
USING(games)

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

52 rows affected.

+-------------+------------+------------+--------------+--------------+--------------+--------------+--------------+-------------+
|    games    | gold_medal | gold_count | silver_medal | silver_count | bronze_medal | bronze_count | total_medals | total_count |
+-------------+------------+------------+--------------+--------------+--------------+--------------+--------------+-------------+
| 1896 Summer |    USA     |     11     |    Greece    |      17      |    Greece    |      17      |    Greece    |      44     |
| 1900 Summer |   France   |     28     |    France    |      40      |    France    |      34      |    France    |     102     |
| 1904 Summer |    USA     |     76     |     USA      |      79      |     USA      |      75      |     USA      |     230     |
| 1906 Summer |   France   |     15     |    Greece    |      14      |    France    |      16      |    France    |      41     |
| 1908 Summer |     UK     |     56     |      UK      |      50      |      UK      |      37      |      UK      |     143     |
| 1912 Summer |    USA     |     26     |    Sweden    |      24      |     USA      |      19      |    Sweden    |      65     |
| 1920 Summer |    USA     |     41     |     USA      |      27      |     USA      |      27      |     USA      |      95     |
| 1924 Summer |    USA     |     45     |     USA      |      27      |     USA      |      27      |     USA      |      99     |
| 1924 Winter |   Norway   |     4      |    Norway    |      7       |    Norway    |      6       |    Norway    |      17     |
| 1928 Summer |    USA     |     22     |     USA      |      18      |   Germany    |      19      |     USA      |      56     |
| 1928 Winter |   Norway   |     6      |    Norway    |      4       |    Norway    |      5       |    Norway    |      15     |
| 1932 Summer |    USA     |     44     |     USA      |      36      |     USA      |      30      |     USA      |     110     |
| 1932 Winter |    USA     |     6      |     USA      |      4       |    Canada    |      5       |     USA      |      12     |
| 1936 Summer |  Germany   |     38     |   Germany    |      31      |   Germany    |      32      |   Germany    |     101     |
| 1936 Winter |   Norway   |     7      |    Norway    |      5       |     USA      |      3       |    Norway    |      15     |
| 1948 Summer |    USA     |     38     |     USA      |      27      |     USA      |      19      |     USA      |      84     |
| 1948 Winter |   Sweden   |     4      | Switzerland  |      4       |   Austria    |      4       |    Norway    |      10     |
| 1948 Winter |   Sweden   |     4      | Switzerland  |      4       |   Austria    |      4       |    Sweden    |      10     |
| 1952 Summer |    USA     |     40     |    Russia    |      29      |    Russia    |      19      |     USA      |      76     |
| 1952 Winter |   Norway   |     7      |     USA      |      6       |    Norway    |      6       |    Norway    |      16     |
| 1956 Summer |   Russia   |     37     |    Russia    |      29      |    Russia    |      32      |    Russia    |      98     |
| 1956 Winter |   Russia   |     6      |    Sweden    |      4       |    Russia    |      6       |    Russia    |      15     |
| 1960 Summer |   Russia   |     43     |    Russia    |      29      |    Russia    |      31      |    Russia    |     103     |
| 1960 Winter |   Russia   |     7      |    Russia    |      5       |    Russia    |      9       |    Russia    |      21     |
| 1964 Summer |    USA     |     36     |    Russia    |      30      |    Russia    |      33      |    Russia    |      93     |
| 1964 Winter |   Russia   |     11     |    Russia    |      7       |    Russia    |      6       |    Russia    |      24     |
| 1968 Summer |    USA     |     45     |    Russia    |      32      |     USA      |      34      |     USA      |     107     |
| 1968 Winter |   Norway   |     6      |    Norway    |      6       |   Germany    |      5       |    Norway    |      14     |
| 1972 Summer |   Russia   |     50     |   Germany    |      34      |   Germany    |      39      |   Germany    |     106     |
| 1972 Winter |   Russia   |     8      |    Russia    |      5       |   Germany    |      8       |   Germany    |      19     |
+-------------+------------+------------+--------------+--------------+--------------+--------------+--------------+-------------+

### 18. Какие страны никогда не выигрывали золотую медаль, но выигрывали серебро/бронзу?

In [22]:
%%sql
SELECT region 
FROM
(
    SELECT
        region,
        SUM(CASE WHEN medal = 'Bronze' THEN 1 ELSE 0 END) AS count_bronze,
        SUM(CASE WHEN medal = 'Silver' THEN 1 ELSE 0 END) AS count_silver,
        SUM(CASE WHEN medal = 'Gold' THEN 1 ELSE 0 END) AS count_gold
    FROM 
        athlete_events a
    JOIN 
        noc_regions n
    ON a.noc = n.noc
    GROUP BY region
) inner_query
WHERE count_gold = 0 AND (count_bronze >0 OR count_silver >0)

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

37 rows affected.

+--------------+
|    region    |
+--------------+
| Afghanistan  |
|   Barbados   |
|   Bermuda    |
|   Botswana   |
|   Curacao    |
|    Cyprus    |
|   Djibouti   |
|   Eritrea    |
|    Gabon     |
|    Ghana     |
|  Guatemala   |
|    Guyana    |
|   Iceland    |
|     Iraq     |
|    Kuwait    |
|  Kyrgyzstan  |
|   Lebanon    |
|  Macedonia   |
|   Malaysia   |
|  Mauritius   |
|   Moldova    |
|    Monaco    |
|  Montenegro  |
|   Namibia    |
|    Niger     |
|   Paraguay   |
| Philippines  |
|    Qatar     |
| Saudi Arabia |
|   Senegal    |
+--------------+

### 19. В каком спорте Австралия выиграла наибольшее количество медалей?

In [23]:
%%sql
-- первым шагом подсчитаем кол-во уникальных ивентов для каждого типа медалей, заработанных каждой страной.
-- это позволяет исключить повторный учет медалей, заработанных в командных видах спорта
WITH games_regions 
AS(
    SELECT games, region, medal, sport, count(distinct event) as cnt
    FROM athlete_events JOIN noc_regions USING(noc)
    WHERE medal != 'NA' and region = 'Australia'
    GROUP BY games, region, medal, sport
    ),
total_medals
AS(
    SELECT region, sport, SUM(cnt) AS tot_medals
    FROM games_regions
    GROUP BY region, sport
    )
SELECT region, sport, tot_medals as max_medals
FROM total_medals
WHERE tot_medals = (SELECT MAX(tot_medals) FROM total_medals)

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

1 rows affected.

+-----------+----------+------------+
|   region  |  sport   | max_medals |
+-----------+----------+------------+
| Australia | Swimming |    201     |
+-----------+----------+------------+

### 20. Выберите все Олимпийские игры, где Канада выиграла медаль (любую) в хоккее на льду и сколько медалей (суммарно) было выиграно на каждой Олимпиаде.

In [24]:
%%sql
SELECT games, region, sport, count(distinct event) as cnt
FROM athlete_events JOIN noc_regions USING(noc)
WHERE medal != 'NA' and region = 'Canada' and sport = 'Ice Hockey'
GROUP BY games, region, medal, sport

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

17 rows affected.

+-------------+--------+------------+-----+
|    games    | region |   sport    | cnt |
+-------------+--------+------------+-----+
| 1920 Summer | Canada | Ice Hockey |  1  |
| 1924 Winter | Canada | Ice Hockey |  1  |
| 1928 Winter | Canada | Ice Hockey |  1  |
| 1932 Winter | Canada | Ice Hockey |  1  |
| 1936 Winter | Canada | Ice Hockey |  1  |
| 1948 Winter | Canada | Ice Hockey |  1  |
| 1952 Winter | Canada | Ice Hockey |  1  |
| 1956 Winter | Canada | Ice Hockey |  1  |
| 1960 Winter | Canada | Ice Hockey |  1  |
| 1968 Winter | Canada | Ice Hockey |  1  |
| 1992 Winter | Canada | Ice Hockey |  1  |
| 1994 Winter | Canada | Ice Hockey |  1  |
| 1998 Winter | Canada | Ice Hockey |  1  |
| 2002 Winter | Canada | Ice Hockey |  2  |
| 2006 Winter | Canada | Ice Hockey |  1  |
| 2010 Winter | Canada | Ice Hockey |  2  |
| 2014 Winter | Canada | Ice Hockey |  2  |
+-------------+--------+------------+-----+

### 21. Какие страны выиграли медали на каждой Олимпиаде?

In [25]:
%%sql
SELECT region, COUNT(DISTINCT games)
FROM
    athlete_events a
    JOIN 
    noc_regions n
    ON a.noc = n.noc
WHERE medal != 'NA'
GROUP BY region
HAVING COUNT(DISTINCT games) = (SELECT COUNT(DISTINCT games) FROM athlete_events)

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

+--------+-------+
| region | count |
+--------+-------+
+--------+-------+

### 22. Какова общая статистика по возрасту участников Олимпийских игр (средний возраст, минимальный возраст, максимальный возраст)?

In [26]:
%%sql
SELECT 
    ROUND(AVG(CAST(age AS INT)),2) as avg_age,
    MIN(CAST(age AS INT)) as min_age,
    MAX(CAST(age AS INT)) as max_age
FROM athlete_events
WHERE age != 'NA'

Running query in 'postgresql+psycopg2://postgres:***@localhost:5432/NewDB'

1 rows affected.

+---------+---------+---------+
| avg_age | min_age | max_age |
+---------+---------+---------+
|  25.56  |    10   |    97   |
+---------+---------+---------+